*{
	margin:0;
	padding: 0;
}
html, body{
	height: 100%;
}
.tipo1{
	color: rgb(100,100,100);
}
/*Mesmo que venha antes a especificação maior ira prevalecer mais*/
a.link_{
	font-size: 30px;
}
.tipo2{
	font-size: 40px;
}
/*Ira prevalecer o tamanho da ultima classe declarada*/
/*.link_{
	font-size: 30px;
}
