*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.box{
	width: 100%;
	height: 500px;
/*radial-gradient cria gradiente arrendondado*/
/*Pode se colocar nome de formas como valor*/
	background: repeating-radial-gradient(red,orange 10%,green 15%);
}
/*linear-gradiente cria gradiente das cores que foram colocadas*/
/*to right como valor, cria a direção pro gradiente */
/*Pode ser colocado tambem o grau de inclinação Ex;45deg*/
/*As cores podem ser colocadas em porcentagem*/
/*repeating-linear-gradient cria repetições do gradiente*/
/*	background:repeating-linear-gradient(45deg, purple,yellow 10%, green 20%); */
