*{
	margin: 0;
	padding:0;
}
html, body{
	height: 100%;
}
.bg{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	/*Background*/
	background-color: red;
	background-image:url('../imagens/danki_bg.jpg');
/*background-size: cover; cobrir todo o espaço respeitando 
largura e altura*/
/*background-size: contain; e um valor usado para encaixar o tamanho da imagem
no espaço*/
	background-size: contain;
/*background-position:center; vai centralizar a imagem no
centro, podendo mexer tambem com largura e altura*/
	background-position: left top;
/*background-repeat: no-repeat; não vai repetir a imagem
por todo o espaço*/
	background-repeat: no-repeat;
}